## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [4]:
#import sys
#!{sys.executable} -m pip install pandas
import pandas as pd

In [30]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [6]:
sex_values = pd.unique(data['sex'])
print(sex_values)

male_count = data['sex'].loc[data['sex'] == 'Male'].size
female_count = data['sex'].size - male_count
print(f'Males = {male_count}')
print(f'Female = {female_count}')

['Male' 'Female']
Males = 21790
Female = 10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [7]:
avg_age = data['age'].loc[data['sex'] == 'Male'].mean()
print(round(avg_age, 2))

39.43

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [8]:
USA_percent = data['native-country'].loc[data['native-country'] == 'United-States'].count()/data['native-country'].size * 100
print(round(USA_percent, 2))

89.59

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [9]:
avg_for_high_salary = data['age'].loc[data['salary'] == '>50K'].mean()
std_for_high_salary = data['age'].loc[data['salary'] == '>50K'].std()
print('Rich AVG: ', round(avg_for_high_salary, 2))
print('Rich STD: ', round(std_for_high_salary, 2))

avg_for_low_salary = data['age'].loc[data['salary'] == '<=50K'].mean()
std_for_low_salary = data['age'].loc[data['salary'] == '<=50K'].std()
print('Not rich AVG: ', round(avg_for_low_salary, 2))
print('Not rich STD: ', round(std_for_low_salary, 2))

Rich AVG:  44.25
Rich STD:  10.52
Not rich AVG:  36.78
Not rich STD:  14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [10]:
is_nessessarly_high_educated = data['education'] \
    .loc[(data['salary'] == '>50K') & \
    ~data['education'].isin(\
        ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])].empty
print(is_nessessarly_high_educated)

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [11]:
race_sex_age_stat = data.groupby(['race', 'sex'])['age'].describe()
print(race_sex_age_stat)
print(f'\nMax age of Asian-Pac-Islander Male: {race_sex_age_stat['max']['Asian-Pac-Islander']['Male']}')

SyntaxError: f-string: unmatched '[' (3583200844.py, line 3)

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [12]:
count_married = data.loc[(data['sex'] == 'Male') & \
    data['marital-status'].str.startswith('Married')].size
count_rich_married = data.loc[(data['sex'] == 'Male') & (data['salary'] == '>50K') & \
    data['marital-status'].str.startswith('Married')].size

count_not_married = data.loc[(data['sex'] == 'Male') & \
    ~data['marital-status'].str.startswith('Married')].size
count_rich_not_married = data.loc[(data['sex'] == 'Male') & (data['salary'] == '>50K') & \
    data['marital-status'].str.startswith('Married')].size

percent_married = count_rich_married / count_married * 100
precent_not_married = count_rich_not_married / count_not_married * 100
print(f'Percent of rich married males = {round(percent_married, 2)}')
print(f'Percent of rich not married males = {round(precent_not_married, 2)}')

Percent of rich married males = 44.05
Percent of rich not married males = 72.31

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [13]:
max_work_hours = data['hours-per-week'].max()
max_workers = data.loc[data['hours-per-week'] == max_work_hours]
percent_rich = max_workers.loc[data['salary'] == '>50K'].size / max_workers.size * 100

print(f'Max wirk hours = {max_work_hours} per week')
print(f'Count max hour workers = {max_workers.shape[0]}')
print(f'Percent of rich men from max hour workers = {round(percent_rich, 2)}%')

Max wirk hours = 99 per week
Count max hour workers = 85
Percent of rich men from max hour workers = 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [14]:
country_salary_stat = data.groupby(['native-country', 'salary'])['hours-per-week'].describe()
average_country_salary = country_salary_stat['mean']
print(average_country_salary)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: mean, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [15]:
bins = [16, 35, 70, 100]
data['AgeGroup'] = pd.cut(data['age'], bins=bins, right=False, labels=['young', 'adult', 'retiree'])
print(data[['age', 'AgeGroup']])

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32561 rows x 2 columns]

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [16]:
rich_in_age_groups = data.loc[data['salary'] == '>50K'].groupby('AgeGroup').size()
print('Rich men in each age group: ')
print(rich_in_age_groups)
group_counts = data.groupby('AgeGroup').size()
percenstage_of_rich_in_groups = rich_in_age_groups / group_counts * 100
print('\nPercentage of rich men in each age group: ')
print(percenstage_of_rich_in_groups)

highest_persentage = percenstage_of_rich_in_groups.idxmax()
print(f"\n\nAge group with the highest percentage of rich men: {highest_persentage}")

Rich men in each age group:
AgeGroup
young      1488
adult      6240
retiree     113
dtype: int64

Percentage of rich men in each age group:
AgeGroup
young      10.591501
adult      34.893474
retiree    17.965024
dtype: float64


Age group with the highest percentage of rich men: adult

C:\Users\User\AppData\Local\Temp\ipykernel_1396\2464757462.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rich_in_age_groups = data.loc[data['salary'] == '>50K'].groupby('AgeGroup').size()
C:\Users\User\AppData\Local\Temp\ipykernel_1396\2464757462.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_counts = data.groupby('AgeGroup').size()

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [31]:
data['occupation'].loc[data['occupation'] == '?'] = 'Not-defined'

occupation_stat = data.groupby('occupation')
occupation_counts = occupation_stat.size()

def filter_func(group):
    return group['age'].mean() <= 40 and (group['hours-per-week'] > 5).all()

filtered_groups = occupation_stat.filter(filter_func).groupby('occupation').size()

print("Original group counts:")
print(occupation_counts)
print("\nFiltered group counts:")
print(filtered_groups)

Original group counts:
occupation
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Not-defined          1843
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

Filtered group counts:
occupation
Armed-Forces    9
dtype: int64

C:\Users\User\AppData\Local\Temp\ipykernel_1396\640813687.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['occupation'].loc[data['occupation'] == '?'] = 'Not-defined'
C:\Users\User\AppData\Local\Temp\ipykernel_1396\640813687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['occupation'].loc[data['occupation'] == '?'] = 'Not-defined'